body {
  background-color: rgb(149, 209, 136) !important;
  color: white !important;
  margin: 0;
  height: 100vh;
}

.dark-theme {
  background-color: #1e1e1e !important;
  color: white !important;
}

.dark-theme .title,
.dark-theme .bmi-result,
.dark-theme .containerBmi .wei-hei .weight span,
.dark-theme .containerBmi .wei-hei .height span,
.dark-theme .bmi-btn {
  color: white;
}

.dark-theme .enableDarkMode {
  background-color: rgba(128, 128, 128, 0.39);
}

.enableDarkMode {
  display: flex;
  justify-content: right;
  padding: 10px;
  background-color: #2e8b57;
}

.enableDarkMode span {
  margin-right: 10px;
}

.form-check-input {
  cursor: pointer;
}

.title {
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.containerBmi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.containerBmi .wei-hei {
  border: 3.5px solid white;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.containerBmi .wei-hei .weight {
  padding-bottom: 15px;
}

.containerBmi .wei-hei .weight span {
  padding-right: 15px;
  font-weight: bold;
  color: black;
}

.containerBmi .wei-hei .weight input {
  width: 200px;
  height: 40px;
}

.containerBmi .wei-hei .height span {
  padding-right: 18.4px;
  font-weight: bold;
  color: black;
}

.containerBmi .wei-hei .height input {
  width: 200px;
  height: 40px;
}

.containerBmi .wei-hei .bmi-btn {
  padding-right: 15px;
  font-weight: bold;
  color: black;
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.bmi-result {
  font-size: 27px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.bmi-btn {
  display: flex;
  gap: 50px;
}
